@keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;    
}

.page-wrapper {
    position: relative;
    text-align: center;
}

#map {
    display: inline-block;
    width: 60%;
    height: 600px;
}

.part {
    margin: 50px 0 50px 0;
}

select {
    padding: 0 0 0 20px;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(92, 184, 92);
}

select:hover {
    background-color: rgb(68, 157, 68);
    cursor: pointer;
}

option {
    color: black;
    background-color: white;
    display: inline-block;
}

.buttonS1,
.buttonS2 {
    border: none;
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    width: 200px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    font-family: juraDemiBold;
}

.buttonS1 {
    position: relative;
    top: 10%;
    background-color: rgb(12, 235, 63);
}

.buttonS1:hover {
    background-color: rgb(9, 165, 45);
}

.buttonS2 {
    display: inline;
    background-color: rgb(92, 194, 232);
}

.buttonS2:hover {
    background-color: rgb(62, 131, 157);
}

.phw {
    display: block;
}

.icon {
    position: relative;
    vertical-align: middle;
    display: inline;
}

.daily-display {
    display: inline-block;
    width: 20%;
    margin: 50px 0px 20px 0px;
    padding: 0px;
    font-family: juraRegular;
    background-color: rgb(81, 198, 108);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(11, 11, 11, 0.63), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: fadeIn 2s;
}

.daily-display:hover {
    background-color: rgb(26, 141, 53);
    cursor: pointer;
}

.daily-display img {

    display: inline;
    position: relative;
    bottom: -13px;
}

.daily-display p {
    display: block;
}

.daily-display h2 {
    display: inline;
}

#display {
    text-align: center;
}

form {
    display: inline;
    margin-right: 50px;
}

#detail {
    text-align: center;
}

.detail-Display {
    display: inline-block;
    margin: 30px 0 0 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    animation: fadeIn 2s;
}

.detail-Display > h4 {
    display: inline;
    position: relative;
    bottom: 14px;
}

.detail-Display > h3 {
    display: inline;
}


.intro {
    margin: 0;
    width: 100%;
    height: 750px;
    text-align: center;
    background-image: url(../image/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.inner {
    position: relative;
    display: inline-block;
    width: 60%;
    top: 255px;
}

.intro h1 {
    color: white;
    font-family: flamante;
    font-size: 40px;
    letter-spacing: 5px;
}

.intro p {
    color: white;
    font-family: juraDemiBold;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.3;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td, th {
    border: 1px solid #ddd;
    padding: 4px;
    font-family: juraMedium;
}

td {
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    font-size: 21px;
}

caption {
    font-size: 30px;
    font-family: actor;
    padding: 10px;
}



/*Code references:https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
/* The container */
.container {
    display: inline;
    position: relative;
    margin: 20px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    font-family: actor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.part_map {
    margin: 50px 0 0 0;
}